@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
*{
	padding: 0px;
	margin:0px;
	font-family: 'Bree Serif', serif;
	/*outline: 2px solid red;*/
	box-sizing: border-box;
}
body{
	width: 100%;
	/*overflow: hidden;*/
}
.card{
	/*overflow: hidden;*/
}
#cardImg{
	height: 100%;
	width: 100%;
}
#profilepic{
	margin-top: 2px;
	height: 200px;
	width: 200px;
	/*border: 5px solid black;*/
	border-radius: 50%;
	transform: rotate(270deg);

}
#main-section{
	/*background-color: #bae1ff;*/
	/*width: 100%;*/
}
#portfolio{
	/*background-color: #ffb3ba;*/
	/*overflow: hidden;*/
	min-height: 100px;
}
#Skills{
	background-color: 
}
#wrapper{
	/*background-color:#fafafa;*/
	width: 100%;
	height: 100%;
}
#portfolio{
	min-height: 500px;
	/*background-color: blue;*/
}
#Skills{
	min-height: 500px;
}
#icon{
	height: 80px;
	width: 100px;
}
h3{
	/*border: 1px solid black;*/
	/*text*/
}
.row{

	overflow: hidden;
}
#Aboutme{
	min-height: 100px;
}
#cardImg2{
	height: 485px;
	width: 100%;
}