@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
*{
	padding: 0px;
	margin:0px;
	font-family: 'Bree Serif', serif;
}
.card{
	overflow: hidden;
}
#cardImg{
	height: 100%;
	width: 100%;
}
#profilepic{
	height: 250px;
	width: 250px;
	border: 1px solid white;
	border-radius: 25%;
	transform: rotate(360deg);
}