@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=Chela+One|Dancing+Script');
/*@import url('https://fonts.googleapis.com/css?family=Arapey');	*/

* {
	padding: 0px;
	margin:0px;
	/*font-family: 'Bree Serif', serif;*/
	/*font-family: 'Bree Serif', serif;*/
	/*outline: 2px solid red;*/
	box-sizing: border-box;
	/*background-color: white;*/
}
body{
	
	width: 100%;
	overflow-x: hidden;
}
#main{
	min-height:650px;
	/*background-color: #ffccff;*/
	color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-origin: content-box;
}
#centerimg{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	align-items: center;
	border:5px solid white;
}
#Skills{
	/*background-image: url('../img/IMG_6918.JPG');*/
	/*backgrou*/
	/*background-image: url('../img/IMG_7732.JPG');*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-origin: content-box;
	min-height: 650px;
	font-family: 'Bree Serif', serif;
	/*font-family: 'Dancing Script', cursive;*/
	/*background-color: #323232;*/
	
	/*color: grey;*/
	/*color: white;*/
	/*font-style: italic;*/
	font-size: 20px;
	/*border-bottom: 2px dotted black;*/
}
a:link{
	color: black;
}
#hi{
font-size: 100px;
font-family: 'Dancing Script', cursive;
}
#welcome{
	font-size: 200px;
	font-family: 'Dancing Script', cursive;
}
#tagname{
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
}
#categories{
	min-height: 10px;
	background-color: #c4d0d9;
}
/*#href{
	color: black;
}*/
.skill{
	/*background-color:#ffffba;*/
	height:100%;
	width: 100%;
}
#imgskills{
	border-radius: 50%;
	width: 250px;
	height: 250px;
}
.about{
	/*background-color: #ffdfba;*/
	height:100%;
	width: 100%;
}
.port{
	/*background-color: #ffb3ba;*/
	height:100%;
	width: 100%;
}
.misc{
	background-color: #ffdfba;
	height:100%;
	width: 100%;
}
#portfolio-section{
	font-family: 'Arapey', serif;
	/*min-height: 600px;*/
	/*margin-bottom: 5px;*/
	padding: 3px;
	/*font-family: 'Chela One', cursive;*/
	/*font-family: 'Dancing Script', cursive;*/
	/*background-color: #8b8989;*/
	/*color: white;*/
}
.project-1{
	background-color:#eeeeee;
	/*font-family: 'Arapey', serif;*/
	font-family: 'Bree Serif', serif;
	/*height: 600px;*/
	margin-top: 5px;
	/*border:2px dotted black;*/
	/*border-spacing: 15px;*/
	/*margin-bottom: 3px;*/
	padding: 5px;
}
.card{
		background-color: red;
}
.project-1 > h1{
	border: 1px solid black;
}
#imgproj1{
	width: 100%;
	height: 95%;
	overflow-wrap: hidden;
	/*border:1px solid black;*/
}
#techImg{
	width: 100px;
	height: 80px;
}
#techImg2{
	width: 100px;
	height: 80px;
}
#techImg3{
	width: 80px;
	height: 100px;
	padding: 1px;
}
#techImg4{
	width: 80px;
	height: 80px;
	padding: 1px;
}
#skill-section{
	/*background-color: #eee9e9;*/
	font-family: 'Bree Serif', serif;
}
#aboutImg{
	width: 75%;
	height: 25%;
}
i{
	font-size: 50px;
	color: black;
}
#About-section{
	/*background-color: #c1dee2;*/
	min-height: 680px;

}


@media only screen and (min-width: 320px) and (max-width: 768px){
*{
	/*overflow: hidden;*/
	/*overflow-x: hidden;*/
}
#welcome{
	font-size: 80px;
}
#tagname{
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
}
